<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="project.framework.validateNavigationBar"/>
      <class name="project.framework.HomePage"/>
      <class name="project.framework.AppTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
